:root {
    --header-color: #8d1a26; /* Color principal del encabezado */
    --main-color: #f9f5f0; /* Color de fondo main */
    --contenedor-color: #f6e1c5; /* Color de fondo del contenido */
    --hover-color: #e6a756; /* Color de fondo al pasar el mouse */
    --text-color: #fff; /* Color del texto */
    --button-color: #333; /* Color del botón */
    --button-hover-color: #ecbd7f; /* Color del botón al pasar el mouse */
    --font-family-main: 'Lora', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-family-header_footer: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* Fuente header */

}

* {
    margin: 0; /* Elimina el margen por defecto de todos los elementos */
    padding: 0; /* Elimina el padding por defecto de todos los elementos */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total del elemento */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

/* Estilos para el header */
.cabezado {
    position: relative; /* Posicionamiento relativo para elementos hijos */
    width: 100%; /* Ancho completo */
    font-family: var(--font-family-header_footer);
}

.header-image {
    position: relative; /* Posicionamiento relativo para elementos hijos */
    width: 100%; /* Ancho completo */
    height: 250px; /* Ajusta la altura según tus necesidades */
    overflow: hidden; /* Oculta el desbordamiento de contenido */
}

.header-image img {
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: 100%; /* La imagen ocupa el 100% de la altura del contenedor */
    object-fit: cover; /* Mantiene la relación de aspecto de la imagen */
}

.logo-overlay {
    position: absolute; /* Posicionamiento absoluto para centrar el logo */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta el centro del logo */
    width: 200px; /* Ajusta el tamaño del logo según tus necesidades */
    height: 200px; /* Ajusta el tamaño del logo según tus necesidades */
    border-radius: 50%; /* Hace que el logo sea redondo */
    overflow: hidden; /* Oculta el contenido que desborda */
    background: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
    display: flex; /* Usamos flexbox para centrar el logo */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
}

.logo-overlay img {
    width: 80%; /* Ancho del logo dentro del contenedor */
    height: 80%; /* Alto del logo dentro del contenedor */
    border-radius: 50%; /* Hace que el logo sea redondo */
    transition: transform 1s; /* Transición suave para la rotación */
}

.logo-overlay:hover img {
    transform: rotateY(180deg); /* Rota el logo al pasar el ratón */
}

.menu {
    background: var(--header-color); /* Color de fondo del menú */
    padding: 20px 20px; /* Espaciado interno del menú */
    text-align: center; /* Centra el contenido del menú */
}

.menu-list {
    list-style: none; /* Elimina los puntos de las listas */
    display: flex; /* Usamos flexbox para organizar los enlaces horizontalmente */
    justify-content: center; /* Centra los enlaces */
}

.menu-list li {
    margin: 0 10px; /* Margen de 10px entre los enlaces */
}

.menu-list li a {
    color: var(--text-color); /* Color del texto de los enlaces */
    font-size: 18px; /* Tamaño de fuente de los enlaces */
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
    padding: 0 10px; /* Añadimos un poco de padding para mejorar la apariencia */
}

.menu-list li a:hover {
    color: var(--hover-color); /* Cambia el color al pasar el ratón */
    transform: translateY(-3px); /* Eleva el botón ligeramente al pasar el ratón */
}

.menu-list li a:active {
    transform: translateY(1px); /* Hace que el botón se hunda ligeramente al hacer clic */
}

/************** Estilos para el menú hamburguesa ************/

.hamburguer {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 45px;
    height: 5px;
    background-color: var(--header-color);
    border: 1px solid var(--main-color);
    margin: 4px 0;
    transition: 0.3s;
}

/* Estilos para la transformación en "X" */
.hamburguer.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburguer.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburguer.active .bar:nth-child(3) {
    transform: translateY(-16px) rotate(-45deg);
}

/************************************************************/

.language-selector {
    position: absolute; /* Posicionamiento absoluto para colocar el selector de idioma */
    top: 22px; /* Espacio desde la parte superior */
    right: 15px; /* Espacio desde la derecha */
    z-index: 10; /* Asegura que esté por encima de otros elementos */
    display: flex; /* Usamos flexbox para organizar el selector */
    align-items: center; /* Centra verticalmente los elementos dentro del selector */
    background-color: transparent;
    border-radius: 5px; /* Bordes redondeados */
}

.language-selector select {
    cursor: pointer;
    background-color: var(--button-color);
    color: #ffffff;
    border-radius: 5px; /* Bordes redondeados */
    border-color: var(--button-color);
    height: 23px;
    transition: background-color 0.3s ease; /* Transición suave para el cambio de fondo */
}

/* Estilos para cuando el select está enfocado (clicado) */
.language-selector select:focus {
    background-color: transparent;
    color: var(--text-color);
    border-color: transparent;
}

/* Estilos para las opciones del selector de idioma */
.language-selector select option {
    background-color: var(--button-color); /* Color de fondo de las opciones */
    color: var(--text-color); /* Color del texto de las opciones */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves para el cambio de fondo y color */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor a puntero */
}

/* Estilos para cuando se pasa el ratón sobre las opciones */
.language-selector select option:hover {
    background-color: var(--button-hover-color); /* Cambia el color de fondo al pasar el ratón */
    color: var(--text-color); /* Cambia el color del texto al pasar el ratón */
}

.language-icon {
    margin-right: 10px; /* Espacio a la derecha del ícono del idioma */
    margin-left: 10px; /* Espacio a la derecha del ícono del idioma */
    font-size: 20px; /* Tamaño del ícono del idioma */
    color: var(--text-color); /* Color del ícono del idioma */
}

/* Estilos para el titulo */
.titulo {
    background-color: var(--main-color);
}

.titulo h1 {
    font-size: 36px; /* Tamaño de fuente del encabezado */
    color: var(--header-color); /* Color del texto del encabezado */
    text-align: center; /* Centra el texto del encabezado */
    padding-top: 30px; /* Margen superior del titulo */
}

.h1-oculto {
    display: none;
}
/* Estilos generales para el main */
main {
    background-color: var(--main-color); /* Color de fondo suave y neutro */
    padding: 40px; /* Espaciado interno para el contenido */
    margin: 0 auto; /* Centrar el contenido */
}

/* Estilos article inicio */
#inicio {
    max-width: 800px; /* Ancho máximo del artículo */
    max-height: 500px; /* Altura máxima del artículo */
    margin: auto; /* Centra el artículo horizontalmente */
    display: flex; /* Usamos flexbox para organizar los elementos dentro del artículo */
    flex-direction: column; /* Organiza los elementos en columna */
    border: 2px solid #e6a756; /* Borde sólido de color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves para el efecto hover */
    background: url(../assets/img/Satya\ modifé\ coupé.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: var(--font-family-header_footer);
    border-radius: 15px; /* Añade bordes redondeados */
    padding: 40px; /* Espaciado interno para el contenido */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total */
    margin-top: 30px;
}

#inicio:hover {
    transform: translateY(-5px); /* Eleva el artículo ligeramente al pasar el ratón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el ratón */
}

#inicio .parafo-articulo {
    display: flex; /* Usamos flexbox para organizar el contenido dentro de este div */
    flex-direction: column; /* Organiza el contenido en columna */
    align-items: center; /* Centra el contenido horizontalmente */
    text-align: center; /* Centra el texto */
}

#inicio .parafo-articulo h2 {
    font-size: 24px; /* Tamaño de fuente para el subtítulo */
    text-align: center; /* Centra el texto del subtítulo */
    color: black; /* Color del texto */
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; /* Sombra para simular contorno */
}

#inicio .parafo-articulo h1 {
    font-size: 36px; /* Tamaño de fuente para el título */
    color: var(--header-color); /* Color del texto del encabezado */
    text-align: center; /* Centra el texto del encabezado */
    padding: 0 0 20px 0; /* Margen superior y inferior del titulo */
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; /* Sombra para simular contorno */
}

#inicio .parafo-articulo p {
    font-size: 18px; /* Tamaño de la fuente del párrafo */
    padding: 15px; /* Espacio interno alrededor del texto */
    text-align: center; /* Centra el texto del párrafo */
    color: white;
    text-shadow: -1px -1px 0 var(--header-color), 1px -1px 0 var(--header-color), -1px 1px 0 var(--header-color), 1px 1px 0 var(--header-color); /* Sombra para simular contorno */

}

#inicio .boton-articulo {
    display: flex; /* Usamos flexbox para centrar el botón */
    justify-content: center; /* Centra el botón horizontalmente */
    margin-top: 20px; /* Espacio superior para separar el botón del párrafo */
}

#inicio .boton-articulo button a {
    color: inherit; /* Hereda el color del texto del botón */
    text-decoration: none; /* Elimina el subrayado del enlace */
}

#inicio .boton-articulo button {
    font-family: var(--font-family-header_footer) !important; /* Asegurarse de que los botones hereden la fuente */
    background: var(--hover-color); /* Color de fondo del botón */
    color: black; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border: 2px solid #e6a756; /* Borde sólido de color */
    border-radius: 5px; /* Bordes redondeados del botón */
    cursor: pointer; /* Cambia el cursor a puntero al pasar sobre el botón */
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves para el cambio de fondo, transformación y sombra */
    width: fit-content; /* Ajusta el ancho del botón al contenido */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra inicial */
}

#inicio .boton-articulo button:hover {
    background: var(--button-hover-color); /* Cambia el color de fondo al pasar el ratón */
    transform: translateY(-3px); /* Eleva el botón ligeramente al pasar el ratón */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el ratón */
}

#inicio .boton-articulo button:active {
    transform: translateY(1px); /* Hace que el botón se hunda ligeramente al hacer clic */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra menos pronunciada al hacer clic */
}

/* Estilos para las empresas que confían en nosotros del main de inicio */
.empresas-confian-container {
    display: flex; /* Usamos flexbox para centrar el contenido */
    justify-content: center; /* Centra el contenido horizontalmente */
    width: 100%; /* Asegura que el contenedor padre ocupe todo el ancho */
}
.empresas-confian {
    text-align: center; /* Centra el texto */
    margin-top: 80px; /* Margen superior*/
    font-family: var(--font-family-header_footer);
    background-color: var(--main-color);
    padding: 20px; /* Espaciado interno */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de fondo */
    width: fit-content;
}

.empresas-confian h2 {
    font-size: 24px; /* Tamaño de fuente para el título */
    margin-bottom: 20px; /* Margen inferior del título */
    color: var(--header-color); /* Color del texto del título */
    text-align: end;
    padding-right: 50px;
}

.scroll-container {
    display: grid;
    align-items: center;
    overflow: visible; /* Cambia a visible para permitir el desplazamiento horizontal */
    position: relative;
}

/* Estilos para el contenedor de logos */
.logos-empresas {
    display: flex; /* Usamos flexbox para organizar los logos */
    gap: 20px; /* Espacio entre los logos */
    flex-wrap: nowrap; /* Evita que los logos se envuelvan */
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    scroll-behavior: smooth; /* Desplazamiento suave */
    padding: 0 20px; /* Espacio para las flechas */
    scrollbar-width: none; /* Oculta las barras de desplazamiento en navegadores que lo soporten */
    margin: 0 95px;
}

/*
.logos-empresas {
    scroll-behavior: smooth; // Desplazamiento suave 
    animation: scrollLogos 20s linear infinite; // Animación de desplazamiento
}
*/

/* Animación de desplazamiento de los logos */
/*
@keyframes scrollLogos {
    0% {
        transform: translateX(0); // Comienza en la posición inicial 
    }
    100% {
        transform: translateX(-100%); // Desplaza los logos completamente fuera de la vista 
    }
}
*/

/* Estilos para los logos individuales */
.logos-empresas img {
    max-width: 150px; /* Ancho máximo de los logos */
    height: 150px; /* Altura máxima de los logos */
    opacity: 0.8; /* Opacidad de los logos */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Transiciones suaves para la opacidad y el zoom */
}

.logos-empresas img:hover {
    opacity: 1; /* Opacidad completa al pasar el ratón */
    transform: scale(1.1); /* Efecto de zoom al pasar el ratón */
}

.scroll-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    color: var(--header-color);
    z-index: 1;
    transition: transform 0.3s ease; /* Transición suave para el zoom */
}

.scroll-arrow i {
    font-size: 70px; /* Tamaño flechas */
}

.left-arrow {
    position: absolute;
    left: 10px;
}

.right-arrow {
    position: absolute;
    right: 10px;
}

.scroll-arrow:hover {
    transform: translateY(-50%) scale(1.2); /* Efecto de zoom al pasar el ratón */
}

/* Estilos para la sección de portfolio */
.portfolio {
    padding: 40px 20px; /* Espaciado interno */
    background-color: var(--main-color); /* Color de fondo */
}

.filtros {
    display: flex; /* Añade display flex para centrar los botones */
    justify-content: center; /* Centra los botones horizontalmente */
    margin-bottom: 40px; /* Margen inferior */
    flex-wrap: wrap; /* Permite que los botones se envuelvan en varias líneas si es necesario */
    font-family: var(--font-family-header_footer);
}

.filtro {
    background-color: var(--hover-color); /* Color de fondo del botón */
    color: black; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados del botón */
    cursor: pointer; /* Cambia el cursor a puntero al pasar sobre el botón */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves para el cambio de fondo y el zoom */
    font-size: 16px; /* Tamaño de fuente base */
    margin: 5px; /* Añade un margen entre los botones */
    font-family: var(--font-family-header_footer);/* Añade tipografia en los botones*/
    font-weight: bold;
}

.filtro:hover {
    background-color:#ecbd7f; /* Cambia el color de fondo al pasar el ratón */
    transform: translateY(-3px); /* Eleva el botón ligeramente al pasar el ratón */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el ratón */
}

.filtro:active {
    transform: translateY(1px); /* Hace que el botón se hunda ligeramente al hacer clic */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra menos pronunciada al hacer clic */
}

.cat_fr {
    display: none;
}

.mosaico {
    display: grid; /* Usamos grid para organizar las imágenes */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Columnas automáticas con un ancho mínimo de 200px */
    gap: 20px; /* Espacio entre las imágenes */
    max-width: 80%;
    margin: 0 auto
}

.item img {
    width: 100%; /* La imagen ocupa el 100% del ancho de su contenedor */
    height: 300px; /* Alto fijo para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionarla */
    border-radius: 5px; /* Bordes redondeados de las imágenes */
    transition: transform 0.3s ease; /* Transición suave para el zoom */
}

.item img:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}

/* Estilos para el artículo "quiensoy" */
#quiensoy {
    margin: 0 auto; /* Centrar el contenido */
    max-width: 1200px; /* Ancho máximo del contenido */
    display: flex; /* Usamos flexbox para organizar el contenido */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas si es necesario */
    gap: 20px; /* Espacio entre los elementos */
    margin-bottom: 80px; /* Margen inferior entre artículos */
    border: 2px solid #e6a756; /* Borde sólido de color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves para el efecto hover */
    background-color: var(--contenedor-color);
    font-family: var(--font-family-main);
    flex-direction: column; /* Organiza el contenido en columna */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 20px; /* Espaciado interno */
    border-radius: 15px; /* Añade bordes redondeados */
    margin-top: 30px;
}

#quiensoy:hover {
    transform: translateY(-5px); /* Eleva el artículo ligeramente al pasar el ratón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el ratón */
}

/* Estilos para los encabezados del artículo "quiensoy" */
#quiensoy .quiensoy-h {
    text-align: center; /* Centra el texto */
    margin-bottom: 20px; /* Margen inferior para separar los encabezados del texto */
}

#quiensoy h1, #quiensoy h2 {
    font-family: var(--font-family-header_footer); /* Fuente de los encabezados */
    color: var(--header-color); /* Color de los encabezados */
    margin: 0; /* Elimina el margen para evitar que se salgan del contenedor */
}

#quiensoy h1 {
    font-size: 36px; /* Tamaño de fuente del h1 */
}

#quiensoy h2 {
    font-size: 24px; /* Tamaño de fuente del h2 */
    color: black;
}

/* Estilos para el contenido del artículo "quiensoy" */
#quiensoy .content-quiensoy {
    display: flex; /* Usamos flexbox para organizar el contenido */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas si es necesario */
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
}

/* Estilos para los párrafos del artículo "quiensoy" */
#quiensoy .quiensoy-p {
    flex: 1; /* Hace que los párrafos ocupen el espacio restante */
    font-family: var(--font-family-main); /* Fuente del texto */
    font-size: 18px; /* Tamaño de fuente */
    line-height: 1.6; /* Altura de línea */
    color: black; /* Color del texto */
    margin: 0; /* Elimina el margen para evitar que se salgan del contenedor */
    text-align: justify;
}

#quiensoy .quiensoy-p p {
    padding-bottom: 20px;
}

/* Estilos para la imagen del artículo "quiensoy" */
#quiensoy .image-quiensoy {
    flex: 1; /* Hace que la imagen ocupe el espacio restante */
    max-width: 50%; /* Ancho máximo de la imagen */
    display: flex; /* Usamos flexbox para centrar la imagen */
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: flex-start; /* Centra la imagen verticalmente */
}

#quiensoy .image-quiensoy img {
    width: 70%; /* La imagen ocupa el 100% del ancho de su contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    border-radius: 50%; /* Bordes redondeados de la imagen */
}


/* Estilos para el artículo "educacion" */
#educacion {
    display: flex; /* Usamos flexbox para organizar el contenido */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas si es necesario */
    gap: 40px; /* Espacio entre los elementos */
    padding: 20px; /* Espaciado interno */
    margin: 0 auto; /* Centrar el contenido */
    max-width: 1200px; /* Ancho máximo del contenido */
    border: 2px solid #e6a756; /* Borde sólido de color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves para el efecto hover */
    background-color: var(--contenedor-color); /* Color de fondo del contenido */
    font-family: var(--font-family-main);
    margin-bottom: 40px;
    border-radius: 15px; /* Añade bordes redondeados */
}

/* Estilos para el encabezado del artículo "educacion" */
#educacion h2 {
    font-family: var(--font-family-header_footer); /* Fuente del encabezado */
    font-size: 24px; /* Tamaño de fuente del encabezado */
    color: var(--header-color); /* Color del encabezado */
    margin-bottom: 20px; /* Margen inferior del encabezado */
    text-align: center; /* Centra el texto */
}

#educacion:hover {
    transform: translateY(-5px); /* Eleva el artículo ligeramente al pasar el ratón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el ratón */
}

/* Estilos para la sección "formation" */
#educacion .formation {
    flex: 1; /* Hace que la sección ocupe el espacio restante */
    max-width: 50%; /* Ancho máximo de la sección */
}

#educacion .formation h2 {
    font-family: var(--font-family-header_footer); /* Fuente del encabezado */
    font-size: 24px; /* Tamaño de fuente del encabezado */
    color: var(--header-color); /* Color del encabezado */
    margin-bottom: 20px; /* Margen inferior del encabezado */
}

#educacion .formation ul {
    list-style-type: disc; /* Tipo de viñeta de la lista */
    padding-left: 40px; /* Espaciado interno a la izquierda de la lista */
    font-family: var(--font-family-text); /* Fuente del texto de la lista */
    font-size: 18px; /* Tamaño de fuente de la lista */
    line-height: 1.6; /* Altura de línea de la lista */
    color: black; /* Color del texto de la lista */
}

#educacion .formation li {
    margin-bottom: 10px; /* Margen inferior entre elementos de la lista */
}

/* Estilos para la sección "servicios" */
#educacion .servicios {
    flex: 1; /* Hace que la sección ocupe el espacio restante */
    max-width: 50%; /* Ancho máximo de la sección */
}

#educacion .servicios h2 {
    font-family: var(--font-family-header_footer); /* Fuente del encabezado */
    font-size: 24px; /* Tamaño de fuente del encabezado */
    color: var(--header-color); /* Color del encabezado */
    margin-bottom: 20px; /* Margen inferior del encabezado */
}

#educacion .servicios ul {
    list-style-type: disc; /* Tipo de viñeta de la lista */
    padding-left: 40px; /* Espaciado interno a la izquierda de la lista */
    font-family: var(--font-family-text); /* Fuente del texto de la lista */
    font-size: 18px; /* Tamaño de fuente de la lista */
    line-height: 1.6; /* Altura de línea de la lista */
    color: black; /* Color del texto de la lista */
}

#educacion .servicios li {
    margin-bottom: 10px; /* Margen inferior entre elementos de la lista */
}

/* Estilos generales para la página de contacto */
.main-contacto {
    background-color: var(--main-color); /* Color de fondo suave y neutro */
    padding: 40px; /* Espaciado interno para el contenido */
    margin: 0 auto; /* Centrar el contenido */
}

.contacto {
    max-width: 800px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centrar el contenido */
    padding: 20px; /* Espaciado interno */
    background-color: #fff; /* Color de fondo blanco */
    border: 2px solid #e6a756; /* Borde sólido de color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves para el efecto hover */
    margin-top: 30px;
}

.contacto:hover {
    transform: translateY(-5px); /* Eleva el artículo ligeramente al pasar el ratón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el ratón */
}

.contacto-info h2 {
    font-size: 24px; /* Tamaño de fuente para el título */
    color: var(--header-color); /* Color del texto del título */
    margin-bottom: 20px; /* Margen inferior del título */
    text-align: center; /* Centra el texto del título */
}

.contacto-info ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0; /* Elimina el padding por defecto de la lista */
    border-top: 1px dotted #e6a756; /* Línea punteada superior */
}

.contacto-info li {
    font-size: 18px; /* Tamaño de fuente para los elementos de la lista */
    margin-bottom: 10px; /* Margen inferior entre elementos de la lista */
    display: flex; /* Usamos flexbox para alinear el texto y los enlaces */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    border-bottom: 1px dotted #e6a756; /* Línea punteada inferior */
    padding: 10px 0; /* Espaciado interno para separar las líneas punteadas */
}

.contacto-info li i {
    margin-right: 10px; /* Espacio entre el ícono y el texto */
    color: var(--header-color); /* Color del ícono */
}

.contacto-info li strong {
    margin-right: 10px; /* Espacio entre el texto y los enlaces */
    color: var(--header-color); /* Color del texto fuerte */
    display: flex; /* Usamos flexbox para alinear el texto y los enlaces */
    align-items: center; /* Centra verticalmente los elementos */
}

.contacto-info li span {
    text-align: right; /* Alinea el texto a la derecha */
    flex-grow: 1; /* Permite que el span ocupe el espacio restante */
}

.contacto-info li a {
    color: var(--hover-color); /* Color de los enlaces */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

.contacto-info li a:hover {
    color: var(--button-hover-color); /* Cambia el color al pasar el ratón */
}

/* Estilos para la sección de colaboradores */
.colaboradores {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.enlaces h2 {
    margin-top: 60px;
    font-size: 24px; /* Tamaño de fuente */
    font-family: var(--font-family-header_footer);
    color: var(--header-color); /* Color del texto */
    margin-bottom: 20px; /* Margen inferior */
    text-align: center; /* Centra el texto */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    border-bottom: 2px solid #e6a756; /* Línea inferior */
    padding-bottom: 10px; /* Espacio entre el texto y la línea inferior */
}

.div-colaboradores {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los colaboradores */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    font-family: var(--font-family-header_footer);
}

.colaborador {
    flex: 1 1 calc(25% - 20px); /* Distribuye el espacio entre los 4 divs */
    margin: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px; /* Borde redondeado */
    box-sizing: border-box; /* Asegura que el padding y el borde estén incluidos en el ancho */
    min-width: calc(25% - 20px); /* Asegura que cada colaborador tenga al menos un cuarto del ancho */
    transition: transform 0.3s ease;
}

.colaborador:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}

.colaborador h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.colaborador p {
    font-size: 14px;
}

.colaborador a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.colaborador a:hover {
    color: var(--header-color);
}

/* Pie de página */
footer {
    background: var(--header-color); /* Color de fondo del pie de página */
    text-align: center; /* Centra el contenido del pie de página */
    font-family: var(--font-family-header_footer);
}

.footer {
    display: flex; /* Usamos flexbox para organizar el contenido del pie de página */
    flex-direction: column; /* Organiza el contenido en columna */
    align-items: center; /* Centra el contenido horizontalmente */
}

.share {
    display: flex; /* Usamos flexbox para organizar los íconos de compartir */
    justify-content: center; /* Centra los íconos horizontalmente */
    padding-top: 10px; /* Espacio superior para los íconos de compartir */
    gap: 1rem; /* Espacio entre los íconos de compartir */
}

.share a {
    height: 4rem; /* Altura de los íconos de compartir */
    width: 4rem; /* Ancho de los íconos de compartir */
    line-height: 4rem; /* Centra verticalmente el texto dentro del ícono */
    font-size: 2rem; /* Tamaño de fuente de los íconos de compartir */
    color: var(--hover-color); /* Color de los íconos de compartir */
    border-radius: 50%; /* Hace que los íconos sean redondos */
    transition: background 0.3s ease, color 0.3s ease; /* Transiciones suaves para el cambio de fondo y color */
}

.share a:hover {
    background: var(--hover-color); /* Cambia el fondo al pasar el ratón */
    color: var(--header-color); /* Cambia el color del texto al pasar el ratón */
}

.credit {
    font-size: 1.2rem; /* Tamaño de fuente para el crédito */
    color: var(--text-color); /* Color del texto del crédito */
    font-weight: lighter; /* Peso de fuente más ligero para el crédito */
    padding: 1rem 0; /* Espacio superior e inferior para el crédito */
}


/* Media queries para pantallas más pequeñas que 1500px */
@media (max-width: 1500px) {

    .titulo h1 {
        font-size: 30px;
    }

    .div-colaboradores {
        flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas adicionales */
        width: 65%; /* Asegura que el contenedor ocupe todo el ancho */
    }

    .colaborador {
        flex: 1 1 calc(50% - 20px); /* Cada colaborador ocupa el 50% del ancho del contenedor */
        margin: 10px;
    }
}

/* Media queries para pantallas más pequeñas que 1200px */
@media (max-width: 1200px) {
    
    /* Estilos para el artículo "quiensoy" */
    #quiensoy {
        flex-direction: column; /* Cambia a columna en pantallas más pequeñas */
        align-items: center; /* Centra verticalmente los elementos */
    }

    #quiensoy .content-quiensoy {
        flex-direction: column; /* Cambia a columna en pantallas más pequeñas */
        align-items: center; /* Centra verticalmente los elementos */
    }

    #quiensoy .image-quiensoy {
        max-width: 60%; /* Ancho máximo de la imagen */
        margin-bottom: 20px; /* Añadir margen inferior para separar la imagen del contenido */
    }

    #quiensoy .image-quiensoy img {
        width: 50%; 
    }

    #quiensoy .quiensoy-p {
        text-align: center; /* Centra el texto */
    }

    /* Estilos para el artículo "educacion" */
    #educacion {
        flex-direction: column; /* Cambia a columna en pantallas más pequeñas */
        align-items: center; /* Centra verticalmente los elementos */
    }

    #educacion .formation, #educacion .servicios {
        max-width: 100%; /* Ancho máximo de las secciones */
        margin-bottom: 20px; /* Añadir margen inferior para separar las secciones */
    }

    .div-colaboradores {
        width: 80%; /* Asegura que el contenedor ocupe todo el ancho */
    }
}

/* Media queries para pantallas de 970px */
@media (max-width: 970px) {
    /* Estilos para el artículo "inicio" */
    #inicio {
        max-height: none; /* Elimina la altura máxima */
    }

    #inicio .parafo-articulo h2 {
        font-size: 20px; /* Reducir el tamaño de fuente del subtítulo */
    }

    #inicio .parafo-articulo h1 {
        font-size: 28px; /* Reducir el tamaño de fuente del título */
    }

    #inicio .parafo-articulo p {
        font-size: 16px; /* Reducir el tamaño de fuente del párrafo */
    }

    /* Estilos para el header */
    .header-image {
        height: 180px; /* Reducir la altura de la imagen de encabezado */
    }

    .logo-overlay {
        width: 120px; /* Reducir el tamaño del logo */
        height: 120px;
    }

    .menu ul li a {
        font-size: 15px; /* Reducir el tamaño de fuente de los enlaces del menú */
    }

    .titulo h1 {
        font-size: 22px; /* Reducir el tamaño de fuente del título */
    }

    .empresas-confian h2 {
        font-size: 18px; /* Reducir el tamaño de fuente del título de las empresas */
    }

    .logos-empresas img {
        max-width: 90px; /* Reducir el ancho máximo de los logos */
        height: 90px; /* Reducir la altura máxima de los logos */
    }

    #quiensoy .quiensoy-p {
        font-size: 15px; /* Tamaño de fuente */
    }

    #educacion .formation ul {
        font-size: 15px; 
    }
    
    #educacion .servicios ul {
        font-size: 15px;
    }

    .div-colaboradores {
        width: 90%; /* Asegura que el contenedor ocupe todo el ancho */
    }

    .share a {
        height: 3.5rem; /* Reducir el tamaño de los íconos de compartir */
        width: 3.5rem;
        line-height: 3.5rem;
        font-size: 1.8rem;
    }

    .credit {
        font-size: 1rem; /* Reducir el tamaño de fuente del crédito */
    }
}

/* Media queries para pantallas de 768px */
@media (max-width: 768px) {
    /* Estilos para el artículo "inicio" */
    #inicio {
        max-width: 600px; /* Reducir el ancho máximo del artículo */
        max-height: none; /* Eliminar la altura máxima para que se ajuste al contenido */
        margin-top: 0;
    }

    #inicio .parafo-articulo h2 {
        font-size: 18px; /* Reducir el tamaño de fuente del subtítulo */
    }

    #inicio .parafo-articulo h1 {
        font-size: 24px; /* Reducir el tamaño de fuente del título */
    }

    #inicio .parafo-articulo p {
        font-size: 14px; /* Reducir el tamaño de fuente del párrafo */
    }

    /* Estilos para el header */
    .header-image {
        height: 150px; /* Reducir aún más la altura de la imagen de encabezado */
    }

    .logo-overlay {
        width: 100px; /* Reducir aún más el tamaño del logo */
        height: 100px;
    }

    .logos-empresas {
        margin: 0 73px;
    }

    /************** Estilos para el menú hamburguesa ************/
    nav {
        justify-content: space-between;
    }

    .menu-list{
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--header-color);
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .menu-list li {
        margin: 15px 0;
    }
    
    .hamburguer {
        display: flex;
        position: absolute;
        left: 45px;
        top: 50px;
    }
    
    .menu-list.show {
        display: flex;
    }

    .h1-oculto {
        display: grid;
        text-align: center;
        color: var(--text-color);
    }

    .titulo h1 {
        display: none;
    }

    /************************************************************/

    .empresas-confian{
        margin-top: 20px;
    }

    .empresas-confian h2 {
        font-size: 16px; /* Reducir aún más el tamaño de fuente del título de las empresas */
    }

    .logos-empresas {
        padding: 0;
    }

    .logos-empresas img {
        max-width: 80px; /* Reducir aún más el ancho máximo de los logos */
        height: 80px; /* Reducir aún más la altura máxima de los logos */
    }

    .scroll-arrow i {
        font-size: 20px;
    }

    .portfolio {
        padding-top: 0;
    }

    #quiensoy {
        margin-top: 0;
    }

    #quiensoy .image-quiensoy img {
        width: 75%; 
    }

    .contacto {
        max-width: 90%; /* Reducir el ancho máximo del contenido */
        margin-top: 0;
    }

    .contacto-info h2 {
        font-size: 20px; /* Reducir el tamaño de fuente del título */
    }
    
    .contacto-info li {
        font-size: 16px; /* Reducir el tamaño de fuente para los elementos de la lista */
        flex-direction: column; /* Cambia la dirección del flexbox a columna */
        align-items: flex-start; /* Alinea los elementos a la izquierda */
    }

    .contacto-info li strong {
        margin-bottom: 5px; /* Espacio entre el <strong> y el <span> */
    }
    
    .contacto-info li span {
        text-align: left; /* Alinea el texto a la izquierda */
    }

    .colaborador {
        flex: 1 1 100%; /* Un div por fila */
        min-width: 100%; /* Asegura que cada colaborador ocupe todo el ancho */
    }

    .share a {
        height: 3rem; /* Reducir aún más el tamaño de los íconos de compartir */
        width: 3rem;
        line-height: 3rem;
        font-size: 1.6rem;
    }

    .credit {
        font-size: 0.9rem; /* Reducir aún más el tamaño de fuente del crédito */
    }
}

/* Media queries para pantallas de 480px */
@media (max-width: 480px) {

    /* Estilos para el artículo "inicio" */
    #inicio .parafo-articulo h2 {
        font-size: 16px; /* Reducir el tamaño de fuente del subtítulo */
    }

    #inicio .parafo-articulo h1 {
        font-size: 20px; /* Reducir el tamaño de fuente del título */
    }

    #inicio .parafo-articulo p {
        font-size: 12px; /* Reducir el tamaño de fuente del párrafo */
    }

    #inicio .boton-articulo button a{
        font-size: 15px; /* Reducir el tamaño de fuente del botón */
    }

    #quiensoy .image-quiensoy img {
        width: 130%; 
    }

    #quiensoy .quiensoy-p {
        font-size: 13px; /* Tamaño de fuente */
    }

    #educacion .formation ul {
        font-size: 13px; 
    }
    
    #educacion .servicios ul {
        font-size: 13px;
    }

    /* Estilos para el header */
    .header-image {
        height: 120px; /* Reducir aún más la altura de la imagen de encabezado */
    }

    .logo-overlay {
        width: 80px; /* Reducir aún más el tamaño del logo */
        height: 80px;
    }

    .hamburguer {
        top: 43px;
    }

    .menu-list li a {
        font-size: 12px; /* Reducir aún más el tamaño de fuente de los enlaces del menú */
    }

    .empresas-confian h2 {
        font-size: 14px; /* Reducir aún más el tamaño de fuente del título de las empresas */
    }

    .logos-empresas img {
        max-width: 60px; /* Reducir aún más el ancho máximo de los logos */
        height: 60px; /* Reducir aún más la altura máxima de los logos */
    }

    .logos-empresas {
        margin: 0 52px;
    }

    .contacto-info h2 {
        font-size: 18px; /* Reducir aún más el tamaño de fuente del título */
    }

    .contacto-info li {
        font-size: 14px; /* Reducir aún más el tamaño de fuente para los elementos de la lista */
        flex-direction: column; /* Cambia la dirección del flexbox a columna */
        align-items: flex-start; /* Alinea los elementos a la izquierda */
    }

    .contacto-info li strong {
        margin-bottom: 5px; /* Espacio entre el <strong> y el <span> */
    }

    .contacto-info li span {
        text-align: left; /* Alinea el texto a la izquierda */
        white-space: normal; /* Permite que el texto se ajuste al ancho del contenedor */
    }

    .contacto-info li a {
        word-break: break-all; /* Permite que las palabras largas se dividan y se ajusten al ancho del contenedor */
    }

    .share a {
        height: 2.5rem; /* Reducir aún más el tamaño de los íconos de compartir */
        width: 2.5rem;
        line-height: 2.5rem;
        font-size: 1.4rem;
    }

    .credit {
        font-size: 0.8rem; /* Reducir aún más el tamaño de fuente del crédito */
    }
}

/* Media queries para pantallas de 360px */
@media (max-width: 360px) {

    /* Estilos para el artículo "inicio" */
    #inicio .parafo-articulo h2 {
        font-size: 14px; /* Reducir el tamaño de fuente del subtítulo */
    }

    #inicio .parafo-articulo h1 {
        font-size: 18px; /* Reducir el tamaño de fuente del título */
    }

    #inicio .parafo-articulo p {
        font-size: 10px; /* Reducir el tamaño de fuente del párrafo */
    }

    #inicio .boton-articulo button a{
        font-size: 13px; /* Reducir el tamaño de fuente del botón */
    }

    /* Estilos para el header */
    .header-image {
        height: 100px; /* Reducir aún más la altura de la imagen de encabezado */
    }

    .logo-overlay {
        width: 60px; /* Reducir aún más el tamaño del logo */
        height: 60px;
    }

    .hamburguer {
        left: 23px;
        top: 32px;
    }

    .empresas-confian h2 {
        font-size: 12px; /* Reducir aún más el tamaño de fuente del título de las empresas */
    }

    .logos-empresas img {
        max-width: 50px; /* Reducir aún más el ancho máximo de los logos */
        height: 50px; /* Reducir aún más la altura máxima de los logos */
    }

    .share a {
        height: 2rem; /* Reducir aún más el tamaño de los íconos de compartir */
        width: 2rem;
        line-height: 2rem;
        font-size: 1.2rem;
    }

    .credit {
        font-size: 0.7rem; /* Reducir aún más el tamaño de fuente del crédito */
    }
}
